.custom-calendar {
  width: 100%;
  background: white !important;
  border: none !important;
  border-radius: 14px;
}

.custom-calendar .react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.custom-calendar button {
  background: transparent;
  border: none;
  color: #1e40af;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-calendar button:hover {
  background-color: #eff6ff;
  transform: scale(1.05);
  border-radius: 8px;
}

.custom-calendar .react-calendar__tile {
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
  transition: 0.3s ease;
}

.custom-calendar .react-calendar__tile:hover {
  background-color: #dbeafe;
  color: #1e3a8a;
  transform: scale(1.05);
}

.custom-calendar .react-calendar__tile--now {
  background: #bfdbfe;
  color: #1e3a8a;
  font-weight: bold;
}

.custom-calendar .react-calendar__tile--active {
  background: #1d4ed8 !important;
  color: white !important;
  font-weight: bold;
}
